*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-image: url("imagens/background.jpg");
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#painav{
    margin-top: 0.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#logo{
    margin-top: 0.5vh;
    margin-left: 2.5vw;
    width: 100px;
    float: left;
}
#navbar{
    padding: 0vw 3vw 0vw 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 94vw;
}
.linknav{
    text-decoration: none;
    color: white;
    font-size: clamp(1em, 1em + 1.1vw, 2em);
}
#paislide{
    display: flex;
    flex-direction: row-reverse;
}
#budaft{
    position:absolute;
    bottom:0;
    left: 0;
    float: left;
    max-width: 50vw;
    width: auto;
}
#rodape{
    display: flex;
    flex-direction: row-reverse;
    background-color: #8e919e;
    position:absolute;
    bottom:0;
    width:100%;
    height: 9vh;
    z-index: -1;

}
#divrodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#txtrodape{
    font-size: clamp(0.75em, 1em + 0.75vw, 2em);
}
#rodapeft{
    width: 50%;
}